project/boot
target
\#*#
*~
.#*
.lib
.history
.*.swp
.idea
.idea/*
.idea_modules
.DS_Store
.sbtrc
*.sublime-project
*.sublime-workspace
tests.iml
/src/main/java/
/src/main/scala-2.*/

/project/project/
/project/target/
/src/test/java/
/src/test/scala-2.*/
/target/
